<script src={{"https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"| absolute_url }} type="text/javascript"></script>
<!-- <script src="{{"/assets/javascripts/MathJax-2.7.7/MathJax.js" | absolute_url}}"></script> -->

<script type="text/javascript">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>
<script src="{{"/assets/javascripts/jquery-3.4.1.slim.min.js" | absolute_url}}"></script>
<script src="{{"/assets/javascripts/popper.min.js" | absolute_url}}"></script>
<script src="{{"/assets/javascripts/bootstrap.js" | absolute_url}}"></script>
