<script src={{ "/assets/javascripts/jquery-3.2.1.min.js" | absolute_url }}></script>
<script src={{ "/assets/javascripts/popper.min.js" | absolute_url }}></script>
<script src={{ "/assets/javascripts/bootstrap.min.js" | absolute_url }}></script>
<script src={{ "/assets/javascripts/main.js" | absolute_url }}></script>
<script src={{"https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"| absolute_url }} type="text/javascript"></script>
<script type="text/javascript">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
</script>