<nav class="nav navbar navbar-light bg-light">
  <a class="nav-link" href="/">Home</a>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>  
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/pages/logical_plan">Logical Plan</a>
      <a class="dropdown-item" href="/pages/rules">Rules</a>
    </div>
  </div>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Further Aspects</a>  
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/pages/delayed_joins">Delayed Joins</a>
    </div>
  </div>
  
  <a class="nav-link" href="/literature">Literature</a>
</nav>