---
layout: default
---

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-xl-2 d-none d-md-block mx-auto">
      <img src="{{ '/assets/images/clash_logo_square_with_text.png' | absolute_url }}" class="rounded mx-auto d-block" alt="...">

      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | absolute_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/user_documentation' | absolute_url }}">User Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/developer_documentation' | absolute_url }}">Developer Documentation</a>
        </li>
      </ul>

      {% assign current_group = site.pages | where_exp: "item", "item.url contains page.dir" | group_by: 'major_category' %}
      {% for major_category in current_group %}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">{{ major_category.name }}</h6>
        <ul class="nav flex-column mb-2">
          {% assign items = major_category.items | sort: 'order' %}
          {% for item in items %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>

    <main role="main" class="col-md-9 col-xl-10 ml-sm-auto p-5 doc">
      <h1>{{ page.title }}</h1>

      {{ content }}
    </main>
  </div>
</div>


